<form ngForm #form="ngForm" role="form" class="form" autocomplete="off">
    <div class="row">
        <div class="col-6">
            <label for="oldPassword" i18n="@@passwordexpired.oldpassword">Old Password</label>
            <div>
                <input name="oldPassword" id="oldPasswordField" type="password" [(ngModel)]="oldPassword" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="newPassword" i18n="@@passwordexpired.setnewpassword">New Password</label>
            <div>
                <input name="newPassword" id="newPasswordField" type="password" [(ngModel)]="newPassword" />
            </div>
        </div>
        <div class="col-6">
            <label for="confirmNewPassword" i18n="@@passwordexpired.confirmnewpassword">Confirm New Password</label>
            <div>
                <input name="confirmNewPassword" id="confirmNewPasswordField" type="password" [(ngModel)]="confirmNewPassword" />
            </div>
        </div>
    </div>
</form>