<div class="row">
    <div class="col-3">
        <lf-form-input [control]="physicianCountry" label="Country" i18n-label="@@policy.requirement.providersearch.country">
            <lf-select #physicianCountry name="physicianCountry" [items]="data.resolvedData.listData.CountryId | listItems: 'value':'Id' | emptyItem" 
            [(ngModel)]="data.searchFilter.countryID" style="width:150px" required ></lf-select>
        </lf-form-input>
    </div>
    <div class="col-3">
        <lf-form-input label="State" i18n-label="@@policy.requirement.providersearch.state" [control]="state">
            <lf-select #state name="state" [items]="data.resolvedData.metaData | stateListPicker: data.searchFilter.countryID | emptyItem | sortList"
                [(ngModel)]="data.searchFilter.state" secureComponent style="width:150px" required></lf-select>
        </lf-form-input>
    </div>
    <div class="col-3">
        <lf-form-input label="City" i18n-label="@@policy.requirement.providersearch.city" [control]="city">
            <lf-inputtext #city name="city" [(ngModel)]="data.searchFilter.city" secureComponent [style]="{width:'150px'}" required [autocomplete]="false"></lf-inputtext>
        </lf-form-input>
    </div>
    <div class="col-3">
        <lf-form-input label="Organization" i18n-label="@@policy.requirement.providersearch.organization" [control]="organization">
            <lf-inputtext #organization name="organization" [(ngModel)]="data.searchFilter.organization" secureComponent [style]="{width:'150px'}"
                required [autocomplete]="false"></lf-inputtext>
        </lf-form-input>
    </div>
</div>