<div class="owner">
    <div class="row">
        <div class="col-3">
            <lf-form-input [control]="companyCodeName" label="Name" i18n-label="@@policy.case.TPA.name">
                <lf-select #companyCodeName name="companyCodeName" [items]="listData.TpaCode | listItems:'value':'Id'" [(ngModel)]="data.TpaCode"
                    (change)="onTpaNameChange($event)" [clearable]="false" secureComponent style="width:150px"container="body" required></lf-select>
            </lf-form-input>
        </div>
    </div>
    <div *ngIf="tpaDataExists">
        <div class="row">
            <div class="col-3">
                <lf-form-input [controls]="[addressLine1, addressLine2, addressLine3]" label="Address" i18n-label="@@policy.case.TPA.address">
                    <lf-statictext #addressLine1 name="addressLine1" [value]="businessAddress.AddressLine1" secureComponent></lf-statictext>
                    <lf-statictext #addressLine2 name="addressLine2" [value]="businessAddress.AddressLine2" secureComponent></lf-statictext>
                    <lf-statictext #addressLine3 name="addressLine3" [value]="businessAddress.AddressLine3" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="city" label="City" i18n-label="@@policy.case.TPA.city">
                    <lf-statictext #city name="city" [value]="businessAddress.City" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="country" label="Country" i18n-label="@@policy.case.TPA.country">
                    <lf-statictext #country name="country" [value]="countryName" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="state" label="State" i18n-label="@@policy.case.TPA.state">
                    <lf-statictext #state name="state" [value]="stateName" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="postalCode" label="Postal Code" i18n-label="@@policy.case.TPA.postalcode">
                    <lf-statictext #postalCode name="postalCode" [value]="businessAddress.PostalCode" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="tpaAcronym" label="TPA Acronym" i18n-label="@@policy.case.association.companycode">
                    <lf-statictext #tpaAcronym name="tpaAcronym" [value]="data.TpaCode" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="taxId" label="Tax Id" i18n-label="@@policy.case.TPA.taxid">
                    <lf-statictext #taxId name="taxId" [value]="data.TaxId | taxIdMask" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="phoneNumber" label="Phone Number" i18n-label="@@policy.case.TPA.phonenumber">
                    <lf-statictext #phoneNumber name="phoneNumber" [value]="workPhone | lsPhone" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="faxNumber" label="Fax Number" i18n-label="@@policy.case.TPA.faxnumber">
                    <lf-statictext #faxNumber name="faxNumber" [value]="faxPhone | lsPhone" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="email" label="Email" i18n-label="@@policy.case.TPA.email">
                    <lf-statictext #email name="email" [value]="data.EmailAddress" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="contactName" label="Contact Name" i18n-label="@@policy.case.TPA.contactname">
                    <lf-statictext #contactName name="contactName" [value]="fullName" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="terminationDate" label="Termination Date" i18n-label="@@policy.case.TPA.terminationdate">
                    <lf-statictext #terminationDate name="terminationDate" [value]="data.ExpirationDate | dbDate" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
        </div>
    </div>
</div>