.ls-required-validation-message-icon {
    background: url('../../styles/images/form/requiredValidation.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-info-validation-message-icon {
    background: url('../../styles/images/form/informationValidation.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-overridable-validation-message-icon {
    background: url('../../styles/images/form/overridableValidation.png');
    background-repeat: no-repeat;
    background-position: center center;
}
