.ls-matched-icon {
    background: url('../../styles/images/form/matched.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ls-unmatched-icon {
    background: url('../../styles/images/form/unmatched.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ls-note-icon {
    background: url('../../styles/images/form/note.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ls-alert-icon {
    background: url('../../styles/images/form/toolValidate.png');
    background-repeat: no-repeat;
    background-position: center center;
}
