.ls-checkable-message-icon {
    background: url('../../styles/images/form/checkable-review-message-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-system-information-message-with-note-icon {
    background: url('../../styles/images/form/system-information-message-with-note-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-system-information-message-icon {
    background: url('../../styles/images/form/system-information-message-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-message-checked-off-icon {
    background: url('../../styles/images/form/review-message-checked-off-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-requirement-outstanding-message-icon {
    background: url('../../styles/images/form/requirement-outstanding-message-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-requirement-report-received-message-icon {
    background: url('../../styles/images/form/requirement-report-received-message-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
