<form ngForm #form="ngForm" role="form" class="form" autocomplete="off">
    <div class="row">
        <lf-form-input label="Case Disposition" i18n-label="@@policy.worksheet.caseDisposition" [control]="caseDisposition">
            <lf-select #caseDisposition name="caseDisposition" [(ngModel)]="data.policy.Disposition" [items]="filteredDispositionList | listItems:'value':'externalCode'"
                (change)="onDispositionChange($event)" secureComponent style="width:200px"></lf-select>
        </lf-form-input>
    </div>
    <div class="row">
        <lf-form-input label="Reason" i18n-label="@@policy.worksheet.caseDispositionReason" [control]="caseDispositionChangeReason">
            <lf-select #caseDispositionChangeReason name="caseDispositionChangeReason" [(ngModel)]="data.policy.ReasonText"
                [items]="filteredReasonList | listItems:'value':'Id'" secureComponent style="width:200px" [required]="isReasonRequired"></lf-select>
        </lf-form-input>
    </div>
    <div class="row" *ngIf="cancelOpenRequirementsExist">
        <lf-form-input label="Cancel Open Requirements" i18n-label="@@policy.worksheet.caseDispositionRequirements"
            [control]="cancelOpenRequirementsOption">
            <lf-radiobuttongroup #cancelOpenRequirementsOption name="cancelOpenRequirementsOption" [(ngModel)]="cancelOpenRequirementsValue"
                secureComponent>
                <span>
                    <lf-radiobutton name="cancelOpenRequirementsOption" value="All" label="All" i18n-label="@@general.stringconstants.all"></lf-radiobutton>
                </span>
                <span>
                    <lf-radiobutton name="cancelOpenRequirementsOption" value="Exclude" label="Exclude Post Issue Requirements"
                        i18n-label="@@policy.worksheet.caseDispositionRequirementExclude"></lf-radiobutton>
                </span>
            </lf-radiobuttongroup>
        </lf-form-input>
    </div>
    <div class="row">
        <lf-form-input label="Final Action Note" i18n-label="@@policy.worksheet.caseDispositionNote" [control]="finalActionNote">
            <lf-inputtextarea #finalActionNote name="finalActionNote" [(ngModel)]="data.policy.FinalActionNote"
                [required]="isNoteRequired" secureComponent rows="10" cols="30" maxLength="2000"></lf-inputtextarea>
        </lf-form-input>
    </div>
</form>