<div class="row">
    <div class="col-12 lf-panel-section">
        <applicant-information></applicant-information>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <ls-applicant-coverages></ls-applicant-coverages>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <applicant-personal-info></applicant-personal-info>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <applicant-financial-data></applicant-financial-data>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <physician-information></physician-information>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <family-history></family-history>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <other-insurance-cases></other-insurance-cases>
    </div>
</div>
<div class="row">
    <div class="col-12 lf-panel-section">
        <applicant-forms></applicant-forms>
    </div>
</div>