.ls-note-alert-icon {
    background: url('../../styles/images/form/toolValidate.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
