.ls-inbound-policy-icon {
    background: url('../../styles/images/form/inbound.png');
}
.ls-outbox-policy-icon {
    background: url('../../styles/images/form/outbound.png');
}
.ls-review-policy-icon {
    background: url('../../styles/images/form/review.png');
}
.ls-underwriting-policy-icon {
    background: url('../../styles/images/form/underwriting.png');
}
.ls-post-issue-policy-icon {
    background: url('../../styles/images/form/postIssue.png');
}
.ls-pre-issue-policy-icon {
    background: url('../../styles/images/form/preIssue.png');
}
