.ls-task-expired-icon {
    background: url('../../styles/images/toolbar/toolValidate.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ls-task-cancel-icon {
    background: url('../../styles/images/toolbar/cancel.png');
    background-repeat: no-repeat;
    background-position: center center;
}
