<div class="row">
	<div class="col-6" *ngIf="showApplicantList">
		<lf-form-input [control]="applicant" label="Applicant" i18n-label="@@policy.documents.templates.applicant">
			<lf-select #applicant [(ngModel)]="activeApplicantId" [ngModelOptions]="{standalone: true}" [items]="applicantList"
			 (change)="onApplicantChange($event)" [actionType]="applicantDropdownActionType" secureComponent [clearable]="false"
			 style="width:200px"></lf-select>
		</lf-form-input>
	</div>
	<div class="col-12">
		<template-list [caseTemplates]="caseTemplates"></template-list>
	</div>
</div>