@import '../../../../../styles/base/helpers/variables';

$task-list-grid-offset-top: 207px;
$task-list-grid-top: $task-list-grid-offset-top + $navbar-height;
$task-list-grid-height: calc(100vh - (#{$task-list-grid-top} + ((1.1rem - 16px) * 10)) - #{$grid-offset-bottom});

.ls-task-list-grid {
    height: $task-list-grid-height;
}
