<form #form="ngForm" role="form" class="form" autocomplete="off">

    <div class="row">
        <div class="col-6">
            <lf-form-input label="Bodily System" i18n-label="@@policy.medicalcondition.edit.bodilysystem" [control]="bodilySystem">
                <lf-select #bodilySystem name="bodilySystem" [(ngModel)]="bodilyDependentInput.parentInput.value"
                    [items]="resolvedData.listData.BodilySystem | listItems:'value':'Id'" [clearable]="false"
                    secureComponent style="width:350px" (change)="onBodilySystemChange($event)" required></lf-select>
            </lf-form-input>
        </div>
        <div class="col-6" *ngIf="bodilyDependentInput.childInput.visible">
            <lf-form-input label="" [control]="newBodilySystem">
                <lf-inputtext #newBodilySystem name="newBodilySystem" [style]="{width:'350px'}" [(ngModel)]="bodilyDependentInput.childInput.value"
                    [maxLength]="255" secureComponent required></lf-inputtext>
            </lf-form-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <lf-form-input label="Condition" i18n-label="@@policy.medicalcondition.edit.condition" [control]="condition">
                <lf-select #condition name="condition" [(ngModel)]="conditionDependentInput.parentInput.value" [items]="resolvedData.listData.Condition | listItems:'value':'Id'"
                    [clearable]="false" secureComponent [disabled]="conditionDependentInput.parentInput.disable" style="width:350px"
                    (change)="onConditionChange($event)" required></lf-select>
            </lf-form-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6" *ngIf="conditionDependentInput.childInput.visible">
            <lf-form-input label="" [control]="newCondition">
                <lf-inputtext #newCondition name="newCondition" [style]="{width:'350px'}" [(ngModel)]="conditionDependentInput.childInput.value"
                    [maxLength]="255" [maxLength]="255" secureComponent required></lf-inputtext>
            </lf-form-input>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-6">
                <lf-form-input label="Criteria" i18n-label="@@policy.medicalcondition.edit.criteria" [control]="criteria">
                    <lf-select #criteria name="criteria" [(ngModel)]="criteriaDependentInput.parentInput.value" [items]="resolvedData.listData.Criteria | listItems:'value':'Id'"
                        [clearable]="false" secureComponent [disabled]="criteriaDependentInput.parentInput.disable"
                        style="width:350px" (change)="onCriteriaChange($event)" required></lf-select>
                </lf-form-input>
            </div>
            <div class="col-6" *ngIf="criteriaDependentInput.childInput.visible">
                <lf-form-input label="" [control]="newCriteria">
                    <lf-inputtext #newCriteria name="newCriteria" [style]="{width:'350px'}" [(ngModel)]="criteriaDependentInput.childInput.value"
                        [maxLength]="255" secureComponent required></lf-inputtext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <lf-form-input label="Time of Criteria" i18n-label="@@policy.medicalcondition.edit.timeofcriteria"
                    [control]="timeOfCriteria">
                    <lf-select #timeOfCriteria name="timeOfCriteria" [(ngModel)]="timeOfCriteriaDependentInput.parentInput.value"
                        [items]="resolvedData.listData.TimeOfCriteria | listItems:'value':'Id'" [clearable]="false"
                        secureComponent [disabled]="timeOfCriteriaDependentInput.parentInput.disable" style="width:350px"
                        (change)="onTimeOfCriteriaChange($event)" required></lf-select>
                </lf-form-input>
            </div>
            <div class="col-6" *ngIf="timeOfCriteriaDependentInput.childInput.visible">
                <lf-form-input label="" [control]="newTimeOfCriteria">
                    <lf-inputtext #newTimeOfCriteria name="newTimeOfCriteria" [style]="{width:'350px'}" [(ngModel)]="timeOfCriteriaDependentInput.childInput.value"
                        [maxLength]="255" secureComponent required></lf-inputtext>
                </lf-form-input>
            </div>
        </div>
        <div class="row" *ngIf="!debitCreditDependentInput.childInput.visible">
            <div class="col-6">
                <lf-form-input label="Debit/Credit" i18n-label="@@policy.medicalcondition.edit.points" [control]="debit">
                    <lf-statictext #debit name="debit" [value]="debitCreditDependentInput.parentInput.value|number"
                        secureComponent></lf-statictext>
                </lf-form-input>
            </div>

        </div>
        <div class="row" *ngIf="debitCreditDependentInput.childInput.visible">
            <div class="col-6">
                <lf-form-input label="Debit/Credit" i18n-label="@@policy.medicalcondition.edit.points" [control]="debitCredit">
                    <lf-statictext #debitCredit name="debitCredit" [value]="" secureComponent></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-6">
                <lf-form-input label="" [control]="debit">
                    <lf-inputnumber #debit name="debit" [max]="1000" [(ngModel)]="debitCreditDependentInput.childInput.value"
                        format="n0" decimals="0" [allowNegative]="false" secureComponent required></lf-inputnumber>
                </lf-form-input>
            </div>
        </div>
    </div>
</form>