<form #form="ngForm">
    <br />
    <label>InputMask</label> <br />
    <div id="view1" class="col-sm-9">
        <div class="row">
            <div class="col-sm-1">
                <label>Required</label>
                <lf-select
                    name="required"
                    [items]="trueFalseList"
                    [(ngModel)]="required"
                    [clearable]="false"
                    style="width:100px;"
                ></lf-select>
            </div>
            <div class="col-sm-1">
                <label>Disabled</label>
                <lf-select
                    name="disabled"
                    [items]="trueFalseList"
                    [(ngModel)]="disabled"
                    [clearable]="false"
                    style="width:100px;"
                ></lf-select>
            </div>
            <div class="col-sm-1">
                <label>Hidden</label>
                <lf-select
                    name="hidden"
                    [items]="trueFalseList"
                    [(ngModel)]="hidden"
                    [clearable]="false"
                    style="width:100px;"
                ></lf-select>
            </div>
            <div class="col-sm-1">
                <label>ReadOnly</label>
                <lf-select
                    name="searchable"
                    [items]="trueFalseList"
                    [(ngModel)]="readonly"
                    [clearable]="false"
                    style="width:100px;"
                ></lf-select>
            </div>
        </div>
        <br />
        <hr style="border-top: 1px solid" />
        <div class="row">
            <div class="col-sm-3">
                <lf-form-input label="Life InputMask - Phone" [control]="lfPhoneField">
                    <lf-inputmask
                        #lfPhoneField
                        mask="999-99-9999"
                        name="lfPhoneField"
                        [required]="toBoolean(required)"
                        [disabled]="toBoolean(disabled)"
                        [hidden]="toBoolean(hidden)"
                        [readonly]="toBoolean(readonly)"
                        [(ngModel)]="fields.srPhoneField.value"
                        placeholder="999-99-9999"
                    ></lf-inputmask>
                </lf-form-input>
                <pre>Selected value: {{ fields.srPhoneField.value || 'none' }}</pre>
            </div>
            <div class="col-sm-3">
                <lf-form-input label="LPLA InputMask - Phone" [control]="lplaPhoneField">
                    <lpla-inputmask
                        #lplaPhoneField
                        mask="999-99-9999"
                        name="lplaPhoneField"
                        [required]="toBoolean(required)"
                        [disabled]="toBoolean(disabled)"
                        [hidden]="toBoolean(hidden)"
                        [readonly]="toBoolean(readonly)"
                        [(ngModel)]="fields.srPhoneField.value"
                        [fieldModel]="fields.srPhoneField.model"
                        placeholder="999-99-9999"
                    ></lpla-inputmask>
                </lf-form-input>
                <pre>Selected value: {{ fields.srPhoneField.value || 'none' }}</pre>
            </div>
        </div>
    </div>
</form>
