<div class="owner">
    <div class="row">
        <div class="col-3">
            <lf-form-input [control]="employerId" label="Name" i18n-label="@@policy.case.employer.name">
                <lf-select #employerId name="employerId" [items]="listData.Employer_CompanyCode | listItems:'value':'Id'" [(ngModel)]="data.CompanyCode"
                    [clearable]="false" (change)="onCompanyCodeNameChange($event)" [authorizationLevel]="authorizationData.defaultLevel"
                    style="width:150px" required></lf-select>
            </lf-form-input>
        </div>
    </div>
    <div *ngIf="employerDataExist">
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="addressLine1" label="Address" i18n-label="@@policy.case.employer.address">
                    <lf-statictext #addressLine1 name="addressLine1" [value]="businessAddress.AddressLine1" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>

            <div class="col-3">
                <lf-form-input [control]="addressLine2">
                    <lf-statictext #addressLine2 name="addressLine2" [value]="businessAddress.AddressLine2" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>

            <div class="col-3">
                <lf-form-input [control]="addressLine3">
                    <lf-statictext #addressLine3 name="addressLine3" [value]="businessAddress.AddressLine3" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="city" label="City" i18n-label="@@policy.case.employer.city">
                    <lf-statictext #city name="city" [value]="businessAddress.City" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="country" label="Country" i18n-label="@@policy.case.employer.country">
                    <lf-statictext #country name="country" [value]="countryName" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="state" label="State" i18n-label="@@policy.case.employer.state">
                    <lf-statictext #state name="state" [value]="stateName" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="postalCode" label="Postal Code" i18n-label="@@policy.case.employer.postalcode">
                    <lf-statictext #postalCode name="postalCode" [value]="businessAddress.PostalCode" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="companyCodeNumber" label="Company Code Number" i18n-label="@@policy.case.employer.companycode">
                    <lf-statictext #companyCodeNumber name="companyCodeNumber" [value]="data.CompanyCode" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="taxId" label="Tax Id" i18n-label="@@policy.case.employer.taxid">
                    <lf-statictext #taxId name="taxId" [value]="data.TaxId | taxIdMask" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="phoneNumber" label="Phone Number" i18n-label="@@policy.case.employer.phonenumber">
                    <lf-statictext #phoneNumber name="phoneNumber" [value]="workPhone | lsPhone" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="faxNumber" label="Fax Number" i18n-label="@@policy.case.employer.faxnumber">
                    <lf-statictext #faxNumber name="faxNumber" [value]="faxPhone | lsPhone" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lf-form-input [control]="email" label="Email" i18n-label="@@policy.case.employer.email">
                    <lf-statictext #email name="email" [value]="data.EmailAddress" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
            <div class="col-3">
                <lf-form-input [control]="contactName" label="Contact Name" i18n-label="@@policy.case.employer.contactname">
                    <lf-statictext #contactName name="contactName" [value]="data.contactname" [authorizationLevel]="authorizationData.defaultLevel"></lf-statictext>
                </lf-form-input>
            </div>
        </div>
    </div>
</div>