.ls-image-text-container {
    display: flex;
    padding: 1em 0px;
}

.ls-product-image {
    padding-left: 0px;
    margin-right: 0.625rem;
    max-width: 250px;
    height: 450px;
    max-height: 450px;
}

.ls-product-label {
    font-size: 1.125rem;
    padding-bottom: 0.15em;
}

.ls-product-desc {
    border-top: 0.2em solid #c56e17;
    padding-top: 0.1em;
    font-size: 0.875rem;
    text-align: left;
}
