<div class="row" style="flex-direction:  column;">
    <div class="row" style="justify-content: space-between;">
        <label i18n="@@policy.documents.attachments.section.attacheddocs">Attached Documents</label>
        <div class="pb-1">
            <lf-button id="openDocumentButton" label="View" i18n-label="@@View" (onClick)='onViewButtonClick()'
                secureComponent styleClass="btn btn-primary" [disabled]="isViewBtnDisabled"></lf-button>
        </div>
    </div>
    <data-grid #dataGrid [ngStyle]="{width: '100%', height: '180px'}" (rowClicked)="onRowClicked($event)" [gridOptions]="gridOptions"
        rowSelection="single"></data-grid>
    <data-grid-status-bar [rowCount]="rowCount"></data-grid-status-bar>
</div>
<hr>