<div class="row">
    <div class="col-sm-2 col-xs-3">
        <lf-form-input [control]="createdOn" label="Created On" i18n-label="@@policy.notes.detail.addedon">
            <lf-statictext #createdOn name="createdOn_{{item.sequenceId}}" [value]="data.AddedDate | dbDate" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
    <div class="col-sm-2">
        <lf-form-input [control]="noteType" label="Type" i18n-label="@@policy.notes.label.notestype">
            <lf-statictext #noteType name="noteType_{{item.sequenceId}}" [value]="getNoteTypeCategory(data.NoteType)" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
    <div class="col-sm-2">
        <lf-form-input [control]="applicant" label="Applicant" i18n-label="@@policy.notes.addnotes.applicant">
            <lf-statictext #applicant name="applicant_{{item.sequenceId}}" [value]="applicantName" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
    <div class="col-sm-2">
        <lf-form-input [control]="createdBy" label="Author" i18n-label="@@policy.notes.addnotes.author">
            <lf-statictext #createdBy name="createdBy_{{item.sequenceId}}" [value]="getAuthorName(data)" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
    <div class="col-sm-4">
        <lf-form-input [control]="subject" label="Subject" i18n-label="@@policy.notes.detail.subject">
            <lf-statictext #subject name="subject_{{item.sequenceId}}" [value]="data.Topic" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <lf-form-input [control]="note" label="Note" i18n-label="@@policy.notes.addnotes.note">
            <lf-statictext #note name="note_{{item.sequenceId}}" [value]="data.Note" [renderAsHtml]="false" secureComponent></lf-statictext>
        </lf-form-input>
    </div>
</div>