/* logic to use these icons present in left menu component as a part of MenuItem.icon property */
.administrationreports {
    background: url('../../styles/images/leftnav/LS_administrationreports.png') no-repeat;
}
.applicant {
    background: url('../../styles/images/leftnav/LS_applicant.png') no-repeat;
}
.auditdesktop {
    background: url('../../styles/images/leftnav/LS_auditdesktop.png') no-repeat;
}
.case {
    background: url('../../styles/images/leftnav/LS_case.png') no-repeat;
}
.casemanagement {
    background: url('../../styles/images/leftnav/LS_casemanagement.png') no-repeat;
}
.createcase {
    background: url('../../styles/images/leftnav/LS_createcase.png') no-repeat;
}
.documents {
    background: url('../../styles/images/leftnav/LS_documents.png') no-repeat;
}
.erroradministration {
    background: url('../../styles/images/leftnav/LS_erroradministration.png') no-repeat;
}
.evidence {
    background: url('../../styles/images/leftnav/LS_evidence.png') no-repeat;
}
.hdde {
    background: url('../../styles/images/leftnav/LS_hdde.png') no-repeat;
}
.images {
    background: url('../../styles/images/leftnav/LS_images.png') no-repeat;
}
.maintainrules {
    background: url('../../styles/images/leftnav/LS_maintainrules.png') no-repeat;
}
.maintaintablescodes {
    background: url('../../styles/images/leftnav/LS_maintaintablescodes.png') no-repeat;
}
.manageroles {
    background: url('../../styles/images/leftnav/LS_manageroles.png') no-repeat;
}
.manageteams {
    background: url('../../styles/images/leftnav/LS_manageteams.png') no-repeat;
}
.manageusers {
    background: url('../../styles/images/leftnav/LS_manageusers.png') no-repeat;
}
.notes {
    background: url('../../styles/images/leftnav/LS_notes.png') no-repeat;
}
.options {
    background: url('../../styles/images/leftnav/LS_options.png') no-repeat;
}
.reassigncase {
    background: url('../../styles/images/leftnav/LS_reassigncase.png') no-repeat;
}
.relatedcases {
    background: url('../../styles/images/leftnav/LS_relatedcases.png') no-repeat;
}
.reportmanagement {
    background: url('../../styles/images/leftnav/LS_reportmanagement.png') no-repeat;
}
.requirements {
    background: url('../../styles/images/leftnav/LS_requirements.png') no-repeat;
}
.rulesadministration {
    background: url('../../styles/images/leftnav/LS_rulesadministration.png') no-repeat;
}
.searchcase {
    background: url('../../styles/images/leftnav/LS_searchcase.png') no-repeat;
}
.securityadministration {
    background: url('../../styles/images/leftnav/LS_securityadministration.png') no-repeat;
}
.userreports {
    background: url('../../styles/images/leftnav/LS_userreports.png') no-repeat;
}
.worksheet {
    background: url('../../styles/images/leftnav/LS_worksheet.png') no-repeat;
}
